@model IEnumerable<FinalDotNetProject.Models.ProductsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="flex-row tile-galery">

    @foreach (var item in Model)
    {

        <div class="tile-wrapper flex-column">

            <img class="tile-image" src="../Images/audi.jpg" alt="audi" />

            <div class="tile-content-wraper tools-background">
                <p class="tile-text">@Html.DisplayFor(modelItem => item.Name)</p>

                <p class="tile-text">@Html.DisplayFor(modelItem => item.Brand)</p>

                <p class="tile-text">@Html.DisplayFor(modelItem => item.YerOfProduction) r</p>

                <p class="tile-text">Auto po dealerze samochodowym: @Html.DisplayFor(modelItem => item.IsFromCarDealership)</p>

                <p class="tile-text">@Html.DisplayFor(modelItem => item.FuelType)</p>

                <p class="tile-text">@Html.DisplayFor(modelItem => item.Mileage) km</p>
            </div>
        </div>
        <!---<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            Ma być zakomentowane na razie
            -->
    }
</div>