@model IEnumerable<FinalDotNetProject.Models.ProductsModel>

@{
    ViewData["Title"] = "Tablica ogłoszeń";
}
<header>
    <h1>Tablica ogłoszeń</h1>
    <p><a asp-action="Create">Dodaj nowe ogłoszenie</a></p>
</header>
<main>
    <div class="flex-row tile-galery">
        <p>Poniżej znajdziesz pełną listę ogłoszeń samochodów z naszego portalu</p>
        @{var count = 1;}
        @foreach (var item in Model)
        {
            <div class="tile-wrapper flex-column">

                <img class="tile-image" src="../Images/[@item.Brand].jpg" alt="@item.Brand" />

                <div class="tile-content-wraper tools-background">
                    <p class="tile-text">@Html.DisplayFor(modelItem => item.Name)</p>

                    <p class="tile-text">@Html.DisplayFor(modelItem => item.Brand)</p>

                    <p class="tile-text">@Html.DisplayFor(modelItem => item.YearOfProduction) r</p>

                    <p class="tile-text">Auto po dealerze samochodowym: @Html.DisplayFor(modelItem => item.IsFromCarDealership)</p>

                    <p class="tile-text">@Html.DisplayFor(modelItem => item.FuelType)</p>

                    <p class="tile-text">@Html.DisplayFor(modelItem => item.Mileage) km</p>

                    <p class="tile-text">@Html.DisplayFor(modelItem => item.Price) zł</p>

                    <button id="@count" class="showGross">Pokaż / Ukryj cenę brutto</button>

                    <p id="@count" class="grossText hidden">@Html.DisplayFor(modelItem => item.PriceGross) zł</p>

                </div>
            </div>
            ++count;
        }
    </div>
</main>
<script>
    let flag = true;

    let parentElement = document.querySelector("body");
    parentElement.addEventListener("click", (e) =>{
        let grossText = document.querySelectorAll(".grossText");
        id = e.target.id;
        flag = !flag;
        if (flag) {
            grossText[id-1].classList.add("hidden");
        }
        else {
            grossText[id-1].classList.remove("hidden");
        }
    },false);

</script>
<style>
    .hidden{
        display: none;
    }
    .showGross {
        border-radius: 28px;
        font-size: 1.1em;
        color: white;
        padding: 2px 10px;
        outline: none !important;
        background-color: #747472;
        border: none;
    }
</style>